#data, #data ul {
	float: left; 
	height: 600px;
	width: 380px;
	padding: 30px 50px 50px 20px;
}
#data h1{
	float: left;
	width: 100%;
	padding: 20px 50px 30px 30px;
	text-shadow: #F1F1F1 3px 3px 5px;
	font-weight: bold;
	font-size: 40px;
	color: #232B75;
}


#data img {
 float:left;
 height:150px;
 width: 140px;
 padding: 0px 50px 30px 50px;
 
}

#data h2{
	color: #c2253f;
	font-size: 22px;
	font-weight: bold;
	text-shadow: #686859 2px 2px 2px;
	padding: 5px 5px 20px 30px;
}

#data  li{
	margin: 0px 150px 0px 0px;
	float:left;
	display:block;
}
.campo {
	float:left;
	color: #c2253f;
	font-size: 16px;
	font-weight: bold;
	text-shadow: #686859 1px 1px 1px;
	padding: 5px 5px 5px 50px; 
	
}

.dato{
	float:left;
	text-shadow: #F1F1F1 1px 1px 1px;
	font-weight: bold;
	font-size: 16px;
	color: #232B75;	
	padding: 5px 5px 5px 10px; 
}

#derecont{
	float: left;
	width: 680px;
	padding: 20px;
}

.puja_subasta {
	float: left;
	border-style: solid none none none;
	border-color: #232B75 ;
	margin: 10px 0px 10px 0px;
	padding: 20px;
	width: 620px;
}

.puja_subasta h1{
	margin: 0px; 
	width: 330px;
	padding: 20px;
	text-shadow: #F1F1F1 3px 3px 5px;
	font-weight: bold;
	font-size: 34px;
	color: #232B75;
	
}

.pic_prod img , .pic_prod{  
	float: left;
	height:200px;
	width:200px;
	padding: 0px 20px 20px 20px;
}

.pujadatos, .puja, .subastadatos, .subasta{
	float: left;
	
}

.pujadatos p, .subastadatos p{
	color: #c2253f;
	font-size: 16px;
	font-weight: bold;
	text-shadow: #686859 1px 1px 1px;
	padding: 5px 5px 5px 0px; 
} 

.pujadatos ul, .subastadatos ul{
	text-shadow: #F1F1F1 1px 1px 1px;
	font-weight: bold;
	font-size: 14px;
	color: #232B75;	
	padding: 5px 5px 5px 0px; 
}

#pujalink a{
	float:left;
	font-size: 12px;
	color: #FBEFFB;
	font-weight: bold;
	height:20px;
	width:80px;
	margin: -65px 0px 0px 35px;
	padding: 20px 20px 20px 20px;	
	background-color:#a91731;
}

.puja , .subasta{
	padding: 20px 0px 20px 20px;	
}


