#contenedor button{
	cursor: pointer;
	height: 30px;
	border: solid #000000 2px;
	border-radius: 8px;
	padding: 0px 5px 0px 5px;
	background-color: #E0E0E0;
	color: #c2253f;
	font-size: 14px;
	font-weight: bold;
	text-shadow: #686859 1px 2px 2px;
}	

#register {
	
	width: 400px;
	height: 600px;
	margin: 0 auto;
	border-style: solid;
	border-radius: 20px ;
	padding: 20px 20px 20px 5px;
	line-height: 300%;
	background-color: black;
	color:#FFFFFF;
	text-align: right;
	
}

	
#register input{
	border-radius: 5px;
	height: 25px;
	border: solid #000000 2px;
	border-radius: 8px;
	padding: 0px;
	
}
	
#register p{
	text-align: left;
	text-shadow: #F1F1F1 0px 0px 1px;
	font-weight: bold;
	font-size: 11px;
	color: #cccccc;
}

#register h5{
	text-align: left;
}

#register a{
	cursor: pointer;
	height: 25px;
	text-decoration: underline ;
	background-color: #E0E0E0;
	color:#c2253f;
	font-size: 10px;
	font-weight: bold;
	text-shadow: #686859 0px 0px 1px;
	margin-bottom: 40px;
}