.list-auctions-page {
    .auction {
        @extend .hoverable;
        @extend .card-panel;
        @extend .center-align;

        .header {
            .title {
                margin: 0 0 30px;
                font-size: 18px;
                font-weight: bold;

                &:after {
                    display: block;
                    content: "";
                    border: 1px solid rgba(0, 0, 0, 0.87);
                }

                a {
                    color: inherit;
                }
            }
        }

        .body {
            .time-left {
                margin: 0;
                font-size: 40px;
                font-weight: bold;
                line-height: 40px;
                text-shadow: 1px 2px #AAA;
                color: darken($primary_color, 5%);
            }

            .lowest-bid {
                color: rgba(0, 0, 0, 0.87);
                font-weight: bold;
                font-size: 35px;
                margin: 0 0 20px;
                text-shadow: 1px 2px #AAA;
            }

            .btn-block {
                width: 100%;
                font-size: 19px;
            }
        }
    }

    .fa-refresh {
        color: lighten($primary_color, 10%);
    }
}
