#data, #data ul {
	float: left; 
	height: 600px;
	width: 400px;
	padding: 30px 50px 50px 20px;
}
#data>h1{
	float: left;
	width: 100%;
	padding: 20px 50px 30px 20px;
}


#data img {
 float:left;
 height:150px;
 width: 140px;
 padding: 0px 50px 30px 40px;
 
}

#data>ul>li p{
	padding: 5px 5px 5px 30px;
}

.campo {
	 float:left;	 
	 
}

.puja_subasta{
	float:left;
	width: 50%;
}