*{
    border: none;
    margin: 0 auto;
    padding: 0px;
}

html,body{
    border: 0px;
    margin: 0 auto;
    padding: 0px;
    background-color: #000;
    font-style: sans-serif;
}


#all{
    margin: 0 auto;
    width: 1170px;
    height: 100%;
}


#cabecera{
    background: rgb(138,5,30);
    background: -moz-linear-gradient(top, rgb(138,5,30) 0%, rgb(138,5,30) 19%, rgb(194,37,63) 99%, rgb(138,5,30) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgb(138,5,30)), color-stop(19%, rgb(138,5,30)), color-stop(99%, rgb(194,37,63)), color-stop(100%, rgb(138,5,30)));
    background: -webkit-linear-gradient(top, rgb(138,5,30) 0%, rgb(138,5,30) 19%, rgb(194,37,63) 99%, rgb(138,5,30) 100%);
    background: -o-linear-gradient(top, rgb(138,5,30) 0%, rgb(138,5,30) 19%, rgb(194,37,63) 99%, rgb(138,5,30) 100%);
    background: -ms-linear-gradient(top, rgb(138,5,30) 0%, rgb(138,5,30) 19%, rgb(194,37,63) 99%, rgb(138,5,30) 100%);
    background: linear-gradient(to bottom, rgb(138,5,30) 0%, rgb(138,5,30) 19%, rgb(194,37,63) 99%, rgb(138,5,30) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a051e', endColorstr='#8a051e', GradientType=0 );
    color: #fbeffb;
    font-family: sans-serif;
    font-size: 12px;
    text-align: right;
    line-height: 350%;
    padding: 5px 15px 0px 0px;
    height: 40px;
    border: 0px;
    margin: 0 auto;
}

#menu{
    background-color: #000;
    color: #fff;
    height: 80px;
    width:100%;
    text-align: left;
    border: 0px;
    margin: 0 auto;
    padding: 0px;
}

#logo{
    float:left;
    display: inline;
    margin: 0px;
    border: 0px;
    padding: 15px 5px 5px 5px;
    height: 43px;
    width: 86px;
}


ul {
    list-style:none;
    margin: 0px;
    border: 0px;
    padding: 0px;
    height: 60px;
}

.barra > li {
    float:left;
}

.barra  li > a {
    background-color:#000;
    color:#fff;
    text-decoration:none;
    margin: 10px 0px 0px 0px;
    padding: 20px 56px 13px 60px;
    display:block;
}

.barra li a:hover {
    background-color:#434343;
}

.barra li > ul {
    display:none;
    position:absolute;
    min-width:100px;
}

.barra li:hover > ul {
    display:block;
}

.barra > li > ul > li {
    position:relative;
}

.barra > li > ul > li  a {
    margin: 0 auto;
}


.barra li > ul > li > ul {
    right:205px;
    top:5px;
    width: 100%;
    padding:0px 2px 0px 2px;
}

.barra li > ul > li > ul > li > a{
    border: 0px;
    margin: 0 auto;
    width: 200px;
    padding:5px 10px 5px 5px;
}

.buscar > form {
    float: left;
    border: 0px;
    margin: 0px;
    display: inline;
    background-color: #000;
    height: 50px;
    width: 250px;
    padding: 1px 5px 0px 50px;
}

.buscar a {
    float:left;
    border: 0px;
    padding: 0px;
    margin: 0px;
    width: 80%;
    text-align: right;
    text-decoration:none;
    font-size: 9px;
    color: #fff;
    font-weight: bold;
}

#findbutt{
    background: none;
    background-color: #000;
    border: 0px;
    margin: 0px;
    padding:1px 0px 5px 1px;
    cursor:pointer;
}

#findimg{
    border: 0px;
    margin:0px;
    padding: 13px 0px 0px 0px;
    height: 21px;
}

#contenedor{
    float: left;
    background-color: #B4B4B4;
    height:100%;
    width: 100%;
    border: 0px;
    margin: 2px 0px 0px 0px;
}


#footer{
    background-color: #434343;
    height: 90px;
    width: 100%;
    border: 0px;
    margin: 2px 0px 0px 0px;
    padding: 20px 0px 3px 0px;
    clear:both;
}

#footer > a{
    font-size: 20px;
    color: #fff;
    font-weight: bold ;
    padding: 5px 20px 5px 20px;
}
