.politicas{
	padding: 10px 0;
	background: none;
}

#titulo{
	background: #E5E5E5;
	text-align: center;
}

 #politicas h1{
	font-size: 28px;
	line-height: 28px;
    padding-bottom: 0;
    text-shadow: 1px 1px 1px #FFF;
    color: #555;
    vertical-align: baseline;
}
