#contenedor button{
	cursor: pointer;
}
#title1{
  float: left; 	
  border:none;
  margin: 0px; 
  text-shadow: #F1F1F1 3px 3px 5px;
  font-weight: bold;
  font-size: 36px;
  padding: 60px 225px 0px 50px;
  color: #232B75;
}

#title2 {
  border: none;	
  margin: 20px 5px 0px 20px;
  float: left;
  font-weight: bold;
  font-size: 26px;
  line-height; 110%;
  padding: 30px 65px 50px 65px;
  color: #FFFFFF;
  background: rgba(138,5,30,1);
  background: -moz-linear-gradient(top, rgba(138,5,30,1) 0%, rgba(138,5,30,1) 19%, rgba(194,37,63,1) 99%, rgba(138,5,30,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(138,5,30,1)), color-stop(19%, rgba(138,5,30,1)), color-stop(99%, rgba(194,37,63,1)), color-stop(100%, rgba(138,5,30,1)));
  background: -webkit-linear-gradient(top, rgba(138,5,30,1) 0%, rgba(138,5,30,1) 19%, rgba(194,37,63,1) 99%, rgba(138,5,30,1) 100%);
  background: -o-linear-gradient(top, rgba(138,5,30,1) 0%, rgba(138,5,30,1) 19%, rgba(194,37,63,1) 99%, rgba(138,5,30,1) 100%);
  background: -ms-linear-gradient(top, rgba(138,5,30,1) 0%, rgba(138,5,30,1) 19%, rgba(194,37,63,1) 99%, rgba(138,5,30,1) 100%);
  background: linear-gradient(to bottom, rgba(138,5,30,1) 0%, rgba(138,5,30,1) 19%, rgba(194,37,63,1) 99%, rgba(138,5,30,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a051e', endColorstr='#8a051e', GradientType=0 );
}

#principal_img img{
  float: left;	
  border: 0px;
  margin: 0px;
  padding: 0px 0px 0px 10px;
  height: 380px;
  width: 640px;
}

#how  {
  float:left;
  margin: 150px 35px 0px 80px;
}    	

#how:hover p{
	display: block;
}

#how p{
  display:none;
  width: 160px;	
  margin: 2px 0px 0px 3px;
  background-color:#F2F2CD;
  padding: 3px 0px 0px 0px;
  font-size: 10px;
  color: #232B75;	
}

#contenedor button {
	height: 30px;
	border: solid #000000 2px;
	border-radius: 8px;
	padding: 0px 5px 0px 5px;
	background-color: #E0E0E0;
	color: #D71031;
	font-size: 14px;
	font-weight: bold;
	text-shadow: #D71031 1px 2px 3px;
}


#login {
	float:left;
	width: 250px;
	height: 320px;
	margin: -22px 2px 2px 35px;
	border-style: solid;
	border-radius: 20px ;
	padding: 20px 20px 20px 20px;
	line-height: 400%;
	background-color: black;
	color:#FFFFFF;
	text-align: right;
	
}

	
#login input{
	border-radius: 5px;
	width: 150px;
}	
	
#login p{
	text-align: center;
}

#login input {
	height: 30px;
	border: solid #000000 2px;
	border-radius: 8px;
	padding: 0px;
	background-color: #E0E0E0;
	color: #D71031;
	font-size: 14px;
	font-weight: bold;
	text-shadow: #D71031 1px 2px 3px;
		
}	

#login a{
	text-decoration: none;
	cursor: pointer;
}

#register{
	cursor: pointer;
}

#read_more{
 height:17px;
 width:15px;
 padding: 0px 0px 0px 2px;
}