#detalles{
	float:left;
	width: 300px;
	padding: 100px 30px 0px 30px;
}

#detalles h1{
  text-shadow: #F1F1F1 3px 3px 5px;
  font-weight: bold;
  font-size: 40px;
  color: #232B75;
}

#detalles p{	
	color: #c2253f;
	font-size: 18px;
	font-weight: bold;
	text-shadow: #686859 1px 1px 1px;	
	text-align: center;
	padding: 20px 40px 0px 20px;
}

#principal_pic img{
	float:left;
	height:350px;
	width: 550px;
	padding: 50px 30px 0px 10px;
}

#enlaza {
	float:left;
	display: block;
	border: none;
	margin: 100px 0px 300px 0px;
	padding: 20px 20px 20px 20px; 
	background-color:#a91731;
}

#enlaza a{
	display: block;
	text-decoration: underline ;
	color: #FBEFFB;
	font-weight: bold;
	line-height: 230%;
}

#downcont{
	float:left;	
	width: 1165px;
	border-style: solid;
	border-color: #232B75;
	border-radius: 2px ;
	padding: 0px; 
}


#filtro{
	float:left;	
	margin-bottom:30%;
	width: 250px; 
	height: 500px;
	border-style: none solid solid none;
	border-color: #232B75;
	background-color: #a8a8b7;
	border-radius: 4px ;
	padding: 30px 30px 30px 40px;
}

#filtro legend{
	margin: 0px;
	padding: 0px;
	text-align: left;
	text-shadow: #F1F1F1 3px 3px 5px;
	font-weight: bold;
	font-size: 22px;
	color: #232B75;	
    
}

#filtro label {
	color: #c2253f;
	font-size: 15px;
	font-weight: bold;
	text-shadow: #686859 0px 1px 1px;	
	padding: 40px 5px 5px 5px;
	
}




.enbloq {
	display:block;
	margin: 0px;
	
}

button.enbloq {
	margin: 30px 0px 0px 80px;
	cursor: pointer;
	height: 30px;
	border: solid #232B75 2px;
	border-radius: 8px;
	padding: 2px 5px 2px 5px;
	background-color: #E0E0E0;
	color: #c2253f;
	font-size: 14px;
	font-weight: bold;
	text-shadow: #686859 1px 2px 2px;
}

.radiobut{
	display: in-line;
	margin: 0px 0px 0px 20px;
}

 .producto div{
	float:left;
	padding: 10px 10px 10px 12px;
}

.producto img{

	height: 230px;
	width: 250px;
}


.descrip{
	display: block;
	width: 200px;
	margin: 0px;
	text-align: left;
	text-shadow: #F1F1F1 3px 3px 5px;
	font-weight: bold;
	font-size: 18px;
	color: #232B75;
}

.restante{
    text-shadow: #686859 1px 2px 2px;
	font-weight: bold;
	font-size: 15px;
	color: #FBEFFB;	
	padding: 5px;
}

.minim{
	color: #c2253f;
	font-size: 15px;
	font-weight: bold;
	text-shadow: #686859 1px 1px 1px;	
	padding: 0px 0px 10px 5px;
}

